!!! 5
head
  block head
    meta(charset='utf-8')
    title Constant Reminder
    meta(name='description', content='Constant Reminder - Prompts throughout the day')
    link(href="stylesheets/styles.css", rel='stylesheet')
    link(href="stylesheets/jquery-ui-1.10.0.custom.css", rel='stylesheet')
    link(href="stylesheets/bootstrap.css", rel='stylesheet')
    script(type='text/javascript', src='js/jquery-latest.js')
    script(type='text/javascript', src='js/jquery-ui.js')
    script(type='text/javascript', src='js/jquery.ba-bbq.js')
body
  script(type='text/javascript')  
    $(function() {
    $( "#datepicker" ).datepicker();
    });
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        ul.nav
          a.brand(href='/') Constant Reminder
        ul.nav.pull-right#menu-item-right
          li
            input.btn.btn-info(type='button', value='Enable Notifications', id='enableNotifications')
  .container
    br
    header.jumbotron.subhead.paddedTop
      .row
        br
        .span3
          br
          block sidebar-left
        .span6
          br
          block content
        .span3
          br
          block sidebar-right
  script(src='twitter-bootstrap-v2/docs/assets/js/jquery.js')
  script(src='twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js')
  script(type='text/javascript')
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38104528-1']);
    _gaq.push(['_setDomainName', 'constantreminder.info']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();