extend layout
block content
	h2 Ooops, you're not using Chrome
	p 
		|It looks like you're not using Chrome. 
	p   
		|This app makes use of functionality built into the Chrome browser so you really need to be using it.
	p   
		| Maybe you could try it by 
		a(href='https://www.google.com/intl/en/chrome/browser/') downloading it here
	script(type='text/javascript', src='js/nochrome.js')